@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, aqua, brown);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 530px;
    width: 300px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
   background: rgb(76, 23, 166) url(../imagens/pexels-fwstudio-33348-129731.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    text-align: center;
    padding: 8px;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 10px;
    background-color: rgb(17, 162, 219);
}

form > div.campo > i {
    color: white;
}

label.label {
    color: white;
}

form > input[type=submit] {
    display: block;
    width: 80%;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #ce9358f9;
}

form > input[type=submit]:hover {
    color: white;
    background-color: #804602;
}

form > a.butao {
    display: block;
    width: 80%;
    margin: auto;
    height: 30px;
    margin-top: 10px;
    padding-top: 5px;
    text-decoration: none;
    border-radius: 20px;
    color: black;
    background-color: rgb(6, 221, 221);
}

form > a.butao:hover {
    color: white;
    background-color: rgb(7, 97, 97);
}

form > a.butao > i {
    font-size: 1em;
}
